<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMCoreDataProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBD7E09D1D8A430E008DD4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBD7E0B41D8A430E008DD4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBD7E0BF1D8A430E008DD4D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
